<div class="fullBodyAvatarChoose">
    <main>
        <div class="imageContainer">
            <img [src]="hoverArrowbackSrc" (mouseenter)="isArrowbackHovered = true"
                (mouseleave)="isArrowbackHovered = false" alt="arrow_back" (click)="goBack()">
            <!-- hier kein routerlink da wir uns schon in diesem routerlink befinden 
                gegenteilige funktion von create-account beim button ganz unten -->
        </div>

        <div class="choosenAvatar">
            <h1>Wähle deinen Avatar</h1>
            <div>
                <img [src]="selectedAvatar" alt="avatar">
                <h2>{{ userName }}</h2>
            </div>
        </div>

        <div class="avatarSection">
            <p>Aus der Liste wählen</p>
            <div>
                <img *ngFor="let avatar of avatarImages" [src]="avatar" alt="Avatar" (click)="selectAvatar(avatar)">
            </div>

        </div>


        <div class="buttonContainer">
            <button (click)="completeRegistration()">Weiter</button>
        </div>
    </main>

    @if (isRegistrationSuccessful) {
        <div class="loginSucces">
            <img src="/img/landingPage/2.kontoErstellen/succesfull.svg" alt="erfolgreich angemeldet">
        </div>
    } 
</div>