<app-header-logo />

<div class="fullBodyResetPassword">
    <main>
        <div class="imageContainer">
            <img [src]="hoverArrowbackSrc" (mouseenter)="isArrowbackHovered = true"
                (mouseleave)="isArrowbackHovered = false" routerLink="/" alt="arrow_back">
        </div>

        <div class="headline">
            <h1>Passwort zurücksetzen</h1>
            <span>Bitte geben Sie Ihre E-Mail-Adresse ein.</span>
        </div>

        <form #emailForm="ngForm" (ngSubmit)="sendEmail()">
            <div class="inputArea">
                <input type="email" name="email" placeholder="beispielname@email.de"
                    pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" required [(ngModel)]="email"
                    #emailInput="ngModel">
                <img src="/img/landingPage/2.kontoErstellen/mail.svg" alt="mail">
            </div>

            <div class="param">
                <p>
                    Wir senden Ihnen eine E-Mail, über die Sie Ihr Passwort ändern können.
                </p>
            </div>

            <div class="buttonContainer">
                <button type="submit" [disabled]="!emailInput.valid">
                    E-Mail senden
                </button>
            </div>
        </form>
    </main>


    @if (isEmailSendSuccessful) {
    <div class="emailSendSucces">
        <img src="/img/resetPasswort/email-gesendet.svg" alt="email erfolgreich gesendet">
    </div>
    }
</div>

<app-footer />