<header>
    <div class="headerLogo">
        <img src="/img/main/header/logoName.svg" alt="logo">
    </div>

    <div class="inputText">
        <input type="text" placeholder="Devspace durchsuchen">
        <img src="/img/main/header/icons.svg" alt="search icon">

    </div>

    <div class="accountInfo" (click)="toggleProfileMenu()" (mouseenter)="changeImage(true)" (mouseleave)="changeImage(false)">
        <span>Name</span>
        <img src="" alt="avatar">
        <img class="arrowDown" [src]="arrowImage" alt="arrow down">
    </div>
</header>


