<app-header-logo />

@if (isCreateAccountNotFinished) {
    <div class="fullBodyCreateAccount">
        <main>
            <div class="imageContainer">
                <img [src]="hoverArrowbackSrc" (mouseenter)="isArrowbackHovered = true"
                    (mouseleave)="isArrowbackHovered = false" routerLink="/" alt="arrow_back">
            </div>
    
            <div class="headline">
                <h1>Konto erstellen</h1>
                <span>Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues DABubble-Konto.</span>
            </div>
    
            <div class="formValidation">
    
                <div class="inputArea">
                    <input type="text" name="name" id="" placeholder="Name und Nachname" required >
                    <img src="/img/landingPage/2.kontoErstellen/person.svg" alt="person">
                </div>
    
                <div class="inputArea">
                    <input type="email" name="" id="" placeholder="beispielname@email.de"
                        pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" required>
                    <img src="/img/landingPage/2.kontoErstellen/mail.svg" alt="mail">
                </div>
    
                <div class="inputArea">
                    <input type="password" name="" id="" placeholder="Passwort" required>
                    <img src="/img/landingPage/2.kontoErstellen/lock.svg" alt="mail">
                </div>
    
                <div class="privacyPolicy">
                    <img [src]="CheckboxImage" (click)="toggleCheckbox()" (mouseenter)="isCheckboxHovered = true"
                        (mouseleave)="isCheckboxHovered = false" alt="checkbox">
                    <span>Ich stimme der <a href="#">Datenschutzerklärung</a> zu</span>
                </div>
    
                <div class="buttonContainer">
                    <button disabled>Weiter</button>
                </div>
            </div>
        </main>
    </div>
}



@if (isLoginDataRight) {
<app-choose-avatar />
}


<app-footer />