<main>
    <app-chat-header class="mainHeader" (profileMenuToggle)="toggleProfileMenu()" [userName]="userName"
        [userAvatar]="userAvatar" />
    @if (isProfileMenuVisible) {
    <app-profile-menu (closeProfileMenu)="closeMenu()" />
    }

    <div class="mainChatArea">
        <app-devspace (newChannelClicked)="handleNewChannelClicked($event)" />

        <app-chat class="chat" />
    </div>
    


    @if (isNewChannelClicked) {
    <app-new-channel class="newChannel" (closeChannelEvent)="handleNewChannelClosed()" />
    }
</main>