<header>
    <img src="" alt="avatar">
    <h2>NAME</h2>
</header>

<div class="chatBody">


    <div class="bodyWithoutChat">
        <div>
            <img src="" alt="avatar">
            <span>NAME</span>
        </div>
        <p>Diese Unterhaltung findet nur zwischen <span>NAME</span> und dir statt</p>
    </div>

    <div class="inputArea">
        <input type="text" placeholder="Nachricht an ...">
        <div class="emotes">
            <div>
                <img src="/img/main/chat/back-emote.svg" alt="smile">
                <img src="/img/main/chat/back-@mote.svg" alt="@">
            </div>
            <img src="/img/main/chat/send-Icon.svg" alt="send">
        </div>
    </div>

</div>