button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    border: none;
    background-color: transparent;
    margin-bottom: 10px;
    cursor: pointer;

    span {
        font-size: 18px;
    }

    &:hover {
        background-color: rgba(236, 238, 254, 1);
        border-radius: 35px;
    }
}