<div class="fullBodyLandingPage">

    <header>
        <img src="/img/landingPage/logoName.svg" alt="logo with name">
        <div>
            <span>Neu bei DABubble?</span>
            <a href="http://">Konto erstellen</a>
        </div>
    </header>


    <main>
        <h1>Anmelden</h1>
        <span>Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</span>

        <div class="inputArea">
            <img src="/img/landingPage/mail.svg" alt="mail img">
            <input type="email" name="" id="" placeholder="beispielname@email.com">
        </div>
        <div class="inputArea">
            <img src="/img/landingPage/lock.svg" alt="lock img">
            <input type="password" name="" id="" placeholder="Passwort">
        </div>

        <a href="">Passwort vergessen?</a>

        <div>
            <img src="/img/landingPage/line.svg" alt="line">
            <span>ODER</span>
            <img src="/img/landingPage/line.svg" alt="line">
        </div>

        <button><img src="/img/landingPage/Google.svg" alt="google logo"> Anmelden mit Google</button>

        <div>
            <button>Anmelden</button>
            <button>Gäste-Login</button>
        </div>
    </main>
</div>