<div class="fullBodyLandingPage">
    <main>
        <h1>Anmelden</h1>
        <span>Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</span>

        <div class="inputArea">
            <input type="email" placeholder="beispielname@email.com">
            <img src="/img/landingPage/mail.svg" alt="mail img">
        </div>
        <div class="inputArea">
            <input type="password" placeholder="Passwort">
            <img src="/img/landingPage/lock.svg" alt="lock img">
        </div>
        

        <p routerLink="/resetPassword">Passwort vergessen?</p>

        <div class="lineWithO">
            <img src="/img/landingPage/line.svg" alt="line">
            <span>ODER</span>
            <img src="/img/landingPage/line.svg" alt="line">
        </div>

        <button><img src="/img/landingPage/Google.svg" alt="google logo"> Anmelden mit Google</button>

        <div class="buttonContainer">
            <button class="signIn">Anmelden</button>
            <button class="guestLogin">Gäste-Login</button>
        </div>
    </main>
</div>